.aboutme_container {
  padding: 0 30px;
}

.aboutme .longbar {
  max-width: 1411px;
  height: 105px;
  background-color: #412372;
  margin: 0 auto;
  border-radius: 30px;
  transform: translateY(120px);
  z-index: -1;
  position: relative;
}

.aboutme .aboutbottomdiv {
  max-width: 796px;
  height: 373px;
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(31, 144, 207, 0.7);
  border-radius: 100px;
  z-index: 49;
  filter: drop-shadow(21px 28px 76px rgba(0, 0, 0, 0.29));
}

.aboutme .aboutme_container {
  max-width: 1300px;
  height: max-content;
  z-index: 48;
  padding-bottom: 200px;
  min-height: 420px;
  margin: 0 auto;
  transform: translateY(80px);
  background-color: #33a08d;
  position: relative;
  box-shadow: 0px 24px 51px 0px rgba(0, 0, 0, 0.35) inset;
}

.aboutme .aboutme_container h3 {
  text-align: center;
  color: white;
  font-size: xx-large;
  transform: translateY(80px);
}

.aboutme .aboutme_container p {
  color: #f3f3f3;
  text-align: center;
  transform: translateY(140px);
  font: Poppins;
  font-weight: 400;
  font-size: 24px;
  max-width: 82%;
  margin: 0 auto;
  line-height: 33px;
}

.aboutmesmall {
  display: none;
}
