.footer{
    // min-height: 200px;
    background-color: rgba(56, 56, 56, 1);
    p{
        text-align: center;
        // padding:40px 0;
        padding-top: 30px;
        padding-bottom: 10px;
        font-size:medium;
        color:rgba(179, 179, 179, 1);
    }
    .copyright{
        padding: 20px 0;
        color: rgba(179, 179, 179, 1);
        font-size: large;
    }
}